.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#fff;
	color:#16232E;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #16232E;
}

.my-float{
	margin-top:22px;
}
